<h2>Your orders have been placed</h2>

<table border="true">
  <tr>
    <th>Product</th>
    <th>Farmersmarket</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>

<% @products.each do |item| %>
  <tr>
    <td><%= item[0] %></td>
    <td><%= item[1] %></td>
    <td><%= item[2] %></td>
    <td><%= item[3] %></td>
  </tr>
<% end %>
</table>

<h4> Your total bill amount is <%=@amount %> </h4>

<br />