<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @cart.user %>
</p>

<p>
  <b>Product:</b>
  <%= @cart.Product_id %>
</p>

<p>
  <b>Farmersmarket:</b>
  <%= @cart.FarmersMarket_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @cart.quantity %>
</p>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
