<h1>Listing farmers_markets</h1>

<table>
  <tr>
    <th>City</th>
    <th>County</th>
    <th>Facebook</th>
    <th>Name</th>
    <th>State</th>
    <th>Street</th>
    <th>Website</th>
    <th>Zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @farmers_markets.each do |farmers_market| %>
  <tr>
    <td><%= farmers_market.city %></td>
    <td><%= farmers_market.county %></td>
    <td><%= farmers_market.facebook %></td>
    <td><%= farmers_market.name %></td>
    <td><%= farmers_market.state %></td>
    <td><%= farmers_market.street %></td>
    <td><%= farmers_market.website %></td>
    <td><%= farmers_market.zip %></td>
    <td><%= link_to 'Show', farmers_market %></td>
    <td><%= link_to 'Edit', edit_farmers_market_path(farmers_market) %></td>
    <td><%= link_to 'Destroy', farmers_market, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Farmers market', new_farmers_market_path %>
