<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= @farmers_market.city %>
</p>

<p>
  <b>County:</b>
  <%= @farmers_market.county %>
</p>

<p>
  <b>Facebook:</b>
  <%= @farmers_market.facebook %>
</p>

<p>
  <b>Name:</b>
  <%= @farmers_market.name %>
</p>

<p>
  <b>State:</b>
  <%= @farmers_market.state %>
</p>

<p>
  <b>Street:</b>
  <%= @farmers_market.street %>
</p>

<p>
  <b>Website:</b>
  <%= @farmers_market.website %>
</p>

<p>
  <b>Zip:</b>
  <%= @farmers_market.zip %>
</p>


<%= link_to 'Edit', edit_farmers_market_path(@farmers_market) %> |
<%= link_to 'Back', farmers_markets_path %>
